langchain
python-dotenv
langchain-community
pypdf
bs4
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain-huggingface
streamlit
langchain_qroq
langchain_core
fastapi
uvicorn
langserve
langchain_chroma